.loggin-page {
  display: flex;
  font-family: K2D, sans-serif;
  justify-content: center;
  padding: 50px;
}

.loggin-left {
  width: 400px;
  background: linear-gradient(to bottom right, #00aaff, #72e2e6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.loggin-logo {
  width: 100px;
  margin-bottom: 20px;
}

.loggin-title {
  text-align: center;

  font-size: 25px;
  line-height: 1.5;
}

/* Right side */
.loggin-right {
  width: 400px;
  background: #fff;
  padding: 40px;
  justify-content: center;
  justify-items: center;
  margin-left: -50px;
  z-index: 1;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

.lang-select {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 12px;
  color: #444;
}

.create-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Google button */
.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 14px;
}
.divider {
  text-align: center;
  margin: 15px 0;
  font-size: 12px;
  color: #999;
  position: relative;
}
/* Form inputs */
.form-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

/* Create button */
.create-acc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.create-btn {
  width: 200px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, #00aaff, #8a80f7);
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 15px;
}

/* Footer text */
.footer-text {
  text-align: center;
  font-size: 13px;
  color: #444;
  justify-content: center;
  justify-items: center;
}

.signin-link {
  color: #547eff;
  text-decoration: none;
  font-weight: bold;
}

.signin-link:hover {
  text-decoration: underline;
}
